<li>
  <h3 class="ui-li-heading"><%= link_to suggestion.title, suggestion_path(suggestion) %></h3>
	<p class="ui-li-desc">Am <%= suggestion.created_at %> vorgeschlagen</p>
	<% unless params[:all] == "true" %>
		<%= link_to "delete", suggestion_path(suggestion), :confirm => 'Möchtest du deinen Eintrag wirklich löschen?', :method => :delete, :"data-role"=> "button", :"data-icon" => "delete", :"data-mini" => "true", :"data-iconpos"=>"notext", :"data-inline"=>"true" %>
	<% end %>

	<span class="ui-li-count">10 Votes</span>
</li>